@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
	<link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Info_Page_3.css" rel="stylesheet">
</head>
<body>
    <div>
        testing three data
    </div>
</body>
</html>
