@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>temp1</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Info_Page_1.css" rel="stylesheet">
</head>
	
<body>
    <div>
        testing one data
    </div>
</body>
</html>
